*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    caret-color: transparent;
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
input[type=radio]{
    caret-color: transparent;
    cursor: pointer;
    transform: scale(1.5);
}
a{
    cursor: pointer;
    color: rgb(61, 201, 236);
}
i{
    cursor: pointer;
    text-overflow:initial;
}
input{
    caret-color: black;
}
body{
    background-color: rgb(0, 0, 0);
    background: url("back.jpg");
    color: black;
}
header{
    z-index:2;
    position: fixed;
    background-color:rgb(67, 118, 190);/*rgb(67, 118, 190*/
    height:6vh;
    width: 100vw;
}
.logo{
    margin: 1.5vh 0 0 6vw;
    font-size:1.3rem;
    font-weight: bold;
    color: white;
}

.sideBar{
    z-index:2;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 7fr 1fr ;
    align-items:center;
    justify-items:start;
    position: fixed;
    width:20vw;
    height:94vh;
    top: 6vh;
    background-color: rgba(221, 221, 221, 0.729); /*rgba(221, 221, 221, 0.729)*/
    border: 2px solid rgba(252, 250, 250, 0.422); /*rgba(252, 250, 250, 0.422)*/
    backdrop-filter:blur(10px);
    box-shadow: 0px 20px 32px 0px rgb(60, 60, 60);
}
.sideBar >div{
    margin-left: 1vw;
    margin-top: 2vm;
}
.sideBar >div>div{
   padding: 2vh 2vw;
}
.sideBar >div>b{
    color: rgb(18, 111, 177);
 }
.welcome{
    /* border-bottom:2px solid grey ; */
    justify-self: center;

}
.add>div{
    margin-left: 1vw;
    width:2.5vw;
    height:2.5vw;
    border-radius:50%;
}


/* dark mode slider */
.check{
    position: absolute;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    margin-left: 10px;
    width: 70px;
    height: 35px;
}
.slider{
    position: absolute;
    cursor: pointer;
    background-color: rgb(148, 148, 148);
    width: 70px;
    height: 35px;
    margin-left: 10px;
    border-radius: 20px;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    left: 5px;
    bottom:5px;
    background-color:white ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.4s;
}
input:checked + .slider::before {
    transform: translateX(34px);
}
input:checked + .slider {
    background-color: rgb(0, 191, 255);
}

.title{
    position: absolute;
    top:10vh;
    left:25vw;
    font-weight: bolder;
    font-size:1.8em;
}
#sort{
    position: absolute;
    margin: 10vh 0 0 56vw;
    left: 18%;
}
#select{

    cursor: pointer;
    outline: none;
    backdrop-filter:blur(10px);
    background-color: rgba(221, 221, 221, 0.729);
    box-shadow: 0px 14px 26px -7px rgb(60, 60, 60);
    border: 2px solid rgba(252, 250, 250, 0.422);
}
.content{
   overflow-x:scroll;
   position:absolute;
   top:16vh;
   left:25vw ;
   box-shadow: 0 2px 25px 1px rgb(64 60 67 / 24%);
   width:70vw;
   backdrop-filter:blur(10px);
   background-color: rgba(221, 221, 221, 0.729); /*rgba(221, 221, 221, 0.729)*/
   border: 2px solid rgba(252, 250, 250, 0.422); /*rgba(252, 250, 250, 0.422)*/
   border-radius:10px;
   caret-color: transparent;
}
.content::-webkit-scrollbar{
    display: none;
}
.myTable{
    display:block;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.myTable th{
    position: relative;
    padding: 12px 30px;
    padding-left: 25px;
    margin-left: 1vw;
}
.myTable tr{
    height: 2vh;
}
.myTable tr:nth-child(even)> td{
    background-color: rgb(205, 205, 205);
}
/* .myTable tr:hover >td{
    overflow: visible;
    white-space: unset;
} */

.myTable td{
    box-sizing: content-box;
    max-width: 4vw;
    overflow-x: hidden;
    text-overflow:ellipsis ;
    white-space: nowrap;
   /* word-break:break-word; */
   background-color:rgb(230, 230, 230);/*rgb(230, 230, 230)*/
   padding: 12px 15px;
   border-bottom: 4px solid rgb(221, 221, 221);/*rgb(221, 221, 221)*/
}
.myTable td i{
    text-overflow:initial ;
}
.arrow{
    cursor: pointer;
    z-index: 10;
    content: "";
    display: block;
    height: 10px;
    width:10px;
    border: 2px solid rgb(69, 58, 193);
    border-left: 0;
    border-top: 0;
    /* background-color: rebeccapurple; */
    right: 0px;
    /* top:50%; */
    position: absolute;
}
.up{
    border-bottom-color:rgb(69, 58, 193) ;
    margin-top: -5px;
    transform: rotate(225deg);
}
.down{
    border-top-color:rgb(69, 58, 193) ;
    margin-top: 11px;
    transform: rotate(45deg);
}
/* tool tip */
.toolTip .tipText{
    display: none;
    position: absolute;
    /* visibility: hidden; */
    word-wrap: break-word;
    white-space: pre-line;
    max-width: 19vw;
    border-radius:5px;
    margin-top: 5px;
    margin-left: 1.5vw;
    z-index: 4;
    background-color: rgb(103, 103, 103);
    color: aliceblue;
    padding: 2px 4px;
}
.toolTip .tipText::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left:16%;
    border-width:5px;
    border-style: solid;
    border-color:transparent transparent rgb(103, 103, 103) transparent;
}
.toolTip:hover .tipText{
    /* visibility: visible; */
    display: block;
}
/* action bottons */
.button{
    text-align: center;
    display:inline-block;
    cursor: pointer;
    width:8vw ;
    height:2.5vw;
    line-height: 2.5vw;
    background-color: grey;
    border-radius:4px;
}
.button:hover{
    opacity: .8;
    font-weight: bold;
}
.delete{
   background-color: red;
}
.primary{
    background-color: rgb(71, 105, 224);
}
.form{
    display: none;
    margin: 2vw 0 2vw 2vw;
}
input[type=text]{
    cursor: pointer;
    outline-color:rgb(15, 140, 230) ;
    border: 0.5px solid transparent;
    border-radius: 4px;
    margin: .3vw 0;
    height: 2vw;
    padding: 5px 7px;
  
}
input[type=text]:focus{
    box-shadow:  0px 0px 10px 0px rgb(15, 140, 230);
}

/* forms */

#pid{
    grid-area:id;
}
#pname{
    grid-area:name;
}
#padd{
    grid-area: address;
}
#ppr{
    grid-area: pr;
}
#pap{
    grid-area: ap;
    margin-left: -20vw;
}
#pcut{
    grid-area: coff;
}
#purl{
    grid-area: url;
    margin-left: -20vw;
}
#pauto{
    grid-area: aut;
}
#prank{
    grid-area: rank;
    margin-left: -20vw;
}
#pbtn {
    grid-area: pbtn;
}
#createForm{
    display:none;
    height: 70vh;
    grid-template-areas: 
    'id id'
    'name name'
    'address address'
    'pr ap'
    'coff url'
    'aut rank'
    'pbtn  pbtn';
}
#ename{
    grid-area:ename;
}
#eadd{
    grid-area: eaddress;
}
#epr{
    grid-area: epr;
}
#eap{
    grid-area: eap;
    margin-left: -20vw;
}
#ecut{
    grid-area: ecoff;
}
#eurl{
    grid-area: eurl;
    margin-left: -20vw;
}
#eauto{
    grid-area: eaut;
}
#erank{
    grid-area: erank;
    margin-left: -20vw;
}
#ebtn{
    grid-area: epbtn;
}
#editForm{
    display:none;
    height: 70vh;
    grid-template-areas: 
    'ename ename'
    'eaddress eaddress'
    'epr eap'
    'ecoff eurl'
    'eaut erank'
    'epbtn  epbtn';
}

/* loder */
.loaderback{
    z-index:11;
    position:fixed;
    width: 100%;
    height:100%;
    opacity:0.8;
    background-color: black;
}
.bubbles{
    user-select: none;
    z-index:12;
    position: fixed;
    top:30%;
    left:50%;
}
tr > td:hover {
    overflow: visible;
    white-space: unset;
}


.bubbles span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: 150px auto;
    background:rgb(15, 140, 230);
    border-radius: 50%;
    animation: bubbly .9s infinite alternate;
  }
  
  /* Bubbles */
  #bubble2 { animation-delay: .27s; }
  #bubble3 { animation-delay: .54s; }
  
  @keyframes bubbly {
    0% {
      width: 15px;
      height: 15px;
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      width: 50px;
      height: 50px;
      opacity: 0.1;
      transform: translateY(-32px);
    }
  }
