<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css" type="text/css" >
</head>

<body>
    <header id="header">
        <div class="logo">CollegeDb.Com</div>
        </div>
    </header>
     <div class="sideBar" id="sideBar">
        <div class="welcome">Welcome...Admin</div>
        <div>
            <b>ACTIONS</b>
            <div class="add">Add Data<div class="button" onclick="redirectToCreate()">+</div>
            </div>

        </div>
        <div>
            <b>PERSNALISE</b>
            <div class="mode">Mode <input class="check" type="checkbox" id="dark" onclick="changeMode()"><span
                    class="slider"></span></div>
        </div>
        <div></div>
        <div class="logout"><i class="fa fa-sign-out" style="font-size:25px;color:rgb(60, 59, 59)"></i>Logout</div>


    </div>
    <div class="title" id="title">
        DashBoard
    </div>

    <!-- <div id="sort">
        <label for="select"><b>Sort By: </b></label>
        <select name="select" id="select">
            <option value="name">Name</option>
            <option value="address">Address</option>
            <option value="placementRatio">Placement Ratio</option>

            <option value="averagePakage">Average Pakage</option>           

            <option value="cutoff">Cutoff</option>
            <option value="website">Website</option>
            <option value="rank">Rank</option>
        </select>

        <label for="oder"><b>Asc</b></label>
        <input type="radio" name="oder" id="">
        <label for="oder"><b>Desc</b></label>
        <input type="radio" name="oder" id="">
    </div> -->
    <div class="content" id="content">
        <div class="form" id="editForm" >
                <div id="ename">
                <label for="name">name</label><br>
                <input type="text" name="name" id="name_edit" autocomplete="off" required><br>
                </div>
                <div id="eadd">
                <label for="address">Address</label><br>
                <input type="text" name="address" id="address_edit" autocomplete="off" required><br>
                </div>
                <div id="epr">
                <label for="placementRatio">Placement Ratio</label><br>
                <input type="text" name="placementRatio" id="pr_edit" autocomplete="off" required><br>
                </div>
                <div id="eap">
                <label for="averagePakage">Average Pakage <i>(lakh per anum)</i></label><br>
                <input type="text" name="averagePakage" id="ap_edit" autocomplete="off" required><br>
                </div>
                <div id="ecut">
                <label for="cutoff">Cutoff</label><br>
                <input type="text" name="cutoff" id="cutoff_edit" autocomplete="off" required><br>
                </div>
                <div id="eurl">
                <label for="websiteUrl">Website Url</label><br>
                <input type="text" name="websiteUrl" id="url_edit" autocomplete="off" required><br>
                </div>
                <div id="eauto">
                <label for="autonomous">Autonomous</label><br>
                <input type="text" name="autonomous" id="autonomous_edit" autocomplete="off" required><br>
                </div>
                <div id="erank">
                <label for="rank">Rank</label><br>
                <input type="text" name="rank" id="ranking_edit" autocomplete="off" required><br><br>
                </div><br><br>
                <div id="ebtn">
            <div class="button primary"  id="updatebtn" >Update</div>
           <div class="button delete"  id="deletebtn" onclick="redirectToTable()">Cancel</div>
            </div>
         </div>
        <div class="form" id="createForm">
            <div id="pid">
            <label for="id">id</label><br>
            <input type="text" name="id" id="collegeId" autocomplete="off" required><br>
            </div>
            <div id="pname">
            <label for="name">name</label><br>
            <input type="text" name="name" id="name" autocomplete="off" required><br>
            </div>
            <div id="padd">
            <label for="address">Address</label><br>
            <input type="text" name="address" id="address" autocomplete="off" required><br>
            </div>
            <div id="ppr">
            <label for="placementRatio">Placement Ratio</label><br>
            <input type="text" name="placementRatio" id="pr" autocomplete="off" required><br>
            </div>
            <div id="pap">
            <label for="averagePakage">Average Pakage <i>(lakh per anum)</i></label><br>
            <input type="text" name="averagePakage" id="ap" autocomplete="off" required><br>
            </div>
            <div id="pcut">
            <label for="cutoff">Cutoff</label><br>
            <input type="text" name="cutoff" id="cutoff" autocomplete="off" required><br>
            </div>
            <div id="purl">
            <label for="websiteUrl">Website Url</label><br>
            <input type="text" name="websiteUrl" id="url" autocomplete="off" required><br>
            </div>
            <div id="pauto">
            <label for="autonomous">Autonomous</label><br>
            <input type="text" name="autonomous" id="autonomous" autocomplete="off" required><br>
            </div>
            <div id="prank">
            <label for="rank">Rank</label><br>
            <input type="text" name="rank" id="ranking" autocomplete="off" required><br><br>
            </div>
            <div id="pbtn">
            <div class="button primary" id="addbtn">Add</div>
           <div class="button delete" onclick="redirectToTable()">Cancel</div>
          </div>
        </div>
        <table class="myTable" id="myTable">
           <thead>
            <tr> 
                <th><div class="arrow down"></div><div class="arrow up"></div>Id</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Name</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Address</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Placement Ratio</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Average Pakage</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Cutoff</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Website</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Is Autonomus</th>
                <th><div class="arrow down"></div><div class="arrow up"></div>Rank</th>
                <th >Action</th>

            </tr>
            </thead>
            <tbody id="tbody"></tbody>
           
        </table>
    </div>
    <div id="loaderback" >
    </div>
     <div id="loader">
        <span></span>
        <span id="bubble2"></span>
        <span id="bubble3"></span>
      </div>
      <script src="../static/gui.js"></script>
      <script src="../static/script.js"></script>
      <script>
          getColleges("college_id", "ASC")
      </script>

</body>

</html>
